@import '../../.cache/wal/colors-waybar.css';

window {
    background-color: alpha(@background, 0.85);
    color: #eeeeee;
    border-radius: 10px;
    border: 2px solid @accent;
}

/* search entry */
entry {
    box-shadow: 0 0 6px 5px shade(@accent, 0.5);
    background-color: rgba (0, 0, 0, 0.2);
    margin-top: 30px;
}

entry:focus {
    border-color: shade(@accent, 0.75);
}

button,
image {
    background: none;
    border: none;
    outline: none;
    margin: 4px;
}

button:hover {
    background-color: alpha(@accent, 0.1);
}

button:focus {
    background-color: alpha(@accent, 0.25);
}