@import '../../.cache/wal/colors-waybar.css';

window {
    background-color: @background;
    color: #eeeeee;
    border-radius: 10px;
    border: 2px solid @foreground;
}

/* search entry */
entry {
    box-shadow: 0 0 6px 5px shade(@color5, 0.5);
    background-color: rgba (0, 0, 0, 0.2);
    margin-top: 30px;
}

button,
image {
    background: none;
    border: none;
    margin: 4px;

}

button:hover {
    background-color: rgba (255, 255, 255, 0.1);
    border: none;
}

button:focus {
    background-color: shade(@color5, 0.75);
    border: none;
}

/* in case you wanted to give category buttons a different look */
#category-button {
    margin: 0 10px 0 10px;
}

#pinned-box {
    padding-bottom: 5px;
    border-bottom: 1px dotted gray
}

#files-box {
    padding: 5px;
    border: none;
    border-radius: 15px
}