@import '../../.cache/wal/colors-waybar.css';

* {
  border: none;
  outline: none;
}

window {
  font-family: Ubuntu;
  font-size: 16pt;
  color: @text;
  background-color: rgba(0, 0, 0, 0.4);
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  background-color: alpha(@background, 0.75);
  transition: all 0.3s ease-in, color 1s ease-in;
  box-shadow: 0 0 10px 2px transparent;
  border-radius: 36px;
  margin: 10px;
  padding: 10px;
}

button:focus {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
  background-size: 60%;
  background-color: alpha(shade(@accent, 0.75), 0.5);
}

button:hover {
  transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.5s ease-in, color 0.1s ease-in;
  background-size: 75%;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, .4);
  background-color: alpha(@accent, 0.5);
  color: transparent;
  padding: 100px;
}

#lock {
  background-image: image(url("./icons/lock.svg"));
}

#logout {
  background-image: image(url("./icons/logout.svg"));
}

#suspend {
  background-image: image(url("./icons/suspend.svg"));
}

#hibernate {
  background-image: image(url("./icons/hibernate.svg"));
}

#shutdown {
  background-image: image(url("./icons/shutdown.svg"));
}

#reboot {
  background-image: image(url("./icons/reboot.svg"));
}