@import "~/.cache/wal/colors-rofi-dark"

* {
    main-bg:            @color0;
    main-fg:            @color9;
    main-br:            @color9;
    select-bg:          @color1;
    select-fg:          @color0;
    text-fg:            @color15;
    separatorcolor:     transparent;
    border-color:       transparent;
}