* {
    font-family: "MesloLGS NF", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    border: none;
    border-radius: 10px;
}

@import "../../.cache/wal/colors-waybar.css";

window#waybar {
    background-color: transparent;
}

tooltip {
    background-color: @background;
    color: @color4;
    border: 1px solid @color12;
}

/* Workspaces */
#workspaces {
    background: @background;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 10px;
    font-size: 16px;
    color: @color12;
}

#workspaces button {
    padding: 0px 4px;
    margin: 4px 2px;
    border-radius: 15px;
    color: @color12;
    background-color: @background;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: shade(@color12, 1.2);
    background: shade(@color4, 0.5);
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    color: @color12;
    background: shade(@color4, 0.35);
    border-radius: 15px;
}

/* Default for all modules */
#clock,
#custom-notification,
#custom-updates,
#tray,
#window,
#workspaces,
#mpris,
#pulseaudio,
#backlight,
#battery,
#custom-wlogout {
    padding: 0 10px;
    margin-right: 8px;
    color: @color12;
    background-color: @background;
    border: 2px solid @color12;
}

/* Remove margin if first or last */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

/* Don't show window's name if there's not one */
window#waybar.empty #window {
    background-color: transparent;
    border: none;
}

/* Customize each module */
#custom-notification {
    font-size: 20px;
    padding: 0 12px;
}

#custom-updates {
    font-size: 14px;
    color: @color12;
    border: 2px solid @color12;
}

#pulseaudio {
    font-family: "MesloLGS Nerd Font";
}

#battery {
    color: @color12;
    border: 2px solid @color12;
}

#battery.good {
    color: @color12;
    border: 2px solid @color12;
}

#battery.warning {
    color: @color11;
    border: 2px solid @color11;
}

#battery.critical {
    color: @color10;
    border: 2px solid @color10;
}

#custom-wlogout {
    font-size: 16px;
    margin-right: 0px;
    padding: 0 14px;
}